.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
src/main/resources/static/bower_components/
!src/main/resources/static/bower_components/ajax-amd/ajax.min.js
!src/main/resources/static/bower_components/async-define/async-define.min.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/static/css
/.sass-cache/
