<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-control" content="public"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no shrink-to-fit=no" />
    <meta name="theme-color" content="#0087EE"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="BTG-clicksign"/>
    <meta name="apple-mobile-web-app-title" content="BTG-clicksign"/>
	<title>BTG - Clicksign</title>
	<link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
	<a href="/"><img src="/images/btg-logo.png" class="btg-logo"/></a>
	<img src="/images/clicksign-logo.png" class="clicksign-logo"/>
	<form method="GET" action="/documents" class="box">
		<input name="accessToken" placeholder="Insira o Access token aqui" class="access-token-field"/>
		<button class="confirm">✔</button>
	</form>
</body>
</html>