<!DOCTYPE html>
<html>
<head>
	<title>BTG - Clicksign | Documents</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-control" content="public"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no shrink-to-fit=no" />
    <meta name="theme-color" content="#0087EE"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="BTG-clicksign"/>
    <meta name="apple-mobile-web-app-title" content="BTG-clicksign"/>
    
    <link rel="icon" type="image/png" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/css/list.css"/>
    
    <script src="/js/vendor/async-define/async-define.js"/>
    <script src="/js/vendor/events-amd/events-amd.js"/>
    <script src="/js/vendor/doc-amd/doc.js"/>
    <script src="/js/vendor/ajax-amd/ajax.js"/>
    
    <script src="/js/listDocuments.js"/>
   
</head>
<body>
	<p id="success-message" class="message success">URL para assinatura: 
		<a href="#" target="_blank" class="link"></a>
		<span class="close">X</span>
	</p>
	<p id="error-message" class="message error">Ocorreu um erro ao criar o lote :(</p>
	<input id="signers-switch" type="checkbox" class="signers-switch"/>
	<section id="menu" class="menu">
		<label for="signers-switch" class="confirm"></label>
		<section class="signers-content">
			<div th:if="${signers.empty}">
				<h3 class="empty-signers">Nenhum signatario no banco de dados</h3>
			</div>
			<div th:if="${!signers.empty}">
				<h3 class="choose-signer">Escolha um signatario</h3>
				<ul class="signers">
					<div th:each="signer : ${signers}">
						<input type="radio" name="selected-signer" th:id="${'signer-switch-' + signer.key}" th:value="${signer.key}" th:attr="data-signas=${signer.type}" class="selected-signer-switch"/>
						<label  th:for="${'signer-switch-' + signer.key}">
							<li th:id="${'signer-' + signer.key}" th:text="${signer.name}"></li>
						</label>					
					</div>
				</ul>
				<div id="batch-resume" class="batch-resume">
					<p class="confirm-question">Criar o lote para este signatario?</p>
					<button id="send-documents" class="send-button"></button>
				</div>
			</div>
		</section>
	</section>
	<main class="main-content">
		<a href="/"><img src="/images/btg-logo.png" class="btg-logo"/></a>
		<h1 class="title">Documents</h1>
		<p class="list-subtitle">Modo lista</p>
		<input id="list-switch" type="checkbox" class="input-switch" />
		<label for="list-switch" class="switch list-switch">
			<span class="slider"></span>
		</label>
		<div th:if="${documents == null}" class="error">
			<p>Ocorreu um erro ao comunicar com a Clicksign :(</p>
			<p>Verifique se o access token esta correto</p>
		</div>
		<article th:if="${documents != null}" class="documents">
			<label th:for="'document-' + ${document.key}" th:each="document : ${documents.documents}" >
				<input type="checkbox" name="documentKey" th:id="'document-' + ${document.key}" class="switch"/>
				<section class="document">
					<h2 th:text="${document.key}" class="key">Key</h2>
					<dl class="details">
						<div class="line">
							<dt>File:</dt>
							<dd th:text="${document.filename}"></dd>
						</div>
						<div class="line">
							<dt>status:</dt>
							<dd th:text="${document.status}"></dd>
						</div>
						<div class="line">
							<dt>Deadline:</dt>
							<dd th:text="${#temporals.format(document.deadlineAt, 'dd-MM-yyyy HH:mm')}"></dd>
						</div>
					</dl>
				</section>
			</label>
		</article>
		<article th:if="${documents != null}" class="list-documents">
			<table class="table-documents">
				<thead>
					<tr>
						<th>KEY</th>
						<th>FILENAME</th>
						<th>STATUS</th>
						<th>DEADLINE</th>
					</tr>
				</thead>
				<tbody>
					<tr th:id="'row-' + ${document.key}" th:each="document : ${documents.documents}" class="document-row">
						<td th:text="${document.key}"></td>
						<td th:text="${document.filename}"></td>
						<td th:text="${document.status}"></td>
						<td th:text="${#temporals.format(document.deadlineAt, 'dd-MM-yyyy HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</article>
	</main>
</body>
</html>